header{
  img {
  width: 100px;
  border-radius: 70px;
  float: right;
  margin-right: 100px; 
}

}

main{
  img {
  width: 150px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
}

footer{
  text-align: center;
}